body{
  font-family: Arial, sans-serif;
  font-size: 12px;
  background-image: url(https://cdn.discordapp.com/attachments/918428347535601665/936753994724958258/portail-des-dragons-fond-d-ecran-2560x1080_14.jpg);
  background-color: #000000;
  color: #4eff80;
}

a {

    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 30px;
    text-transform: uppercase;
    font-size: 22px;
    color: #ff0000;
  text-decoration: none;
}
img {
  margin-bottom: 30px;
  width: 200px;
}

